.App {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 3em;
  line-height: 30px;
}

h2 {
  font-size: 2em;
  line-height: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.7em;
  line-height: 20px;
  margin-bottom: 10px;
}


a {
  text-decoration: none;
  color: #2dc4b2;
}


code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
  border: 1px solid #ccc
}

.nivoCharts > h1,
.nivoCharts > h2,
.nivoCharts > h3,
.nivoCharts > ul,
.nivoCharts > ol,
.nivoCharts > p {
  margin-left: 50px;
  margin-right: 50px;
}


.consoleTitle {
  font-size: 2.2em;
}




.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

.cityList {
  overflow-y: auto;
  display: block;
  max-height: 45vh;
}


.console {
  position: absolute;
  top: 0px;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  z-index: 99;
  height: 90vh;
}

@media screen and (max-width: 800px) {
  .console {
    position: unset;
    z-index: 99;
    top: 0px;
    width: 85%;
    background-color: white;
    max-height: 100vh;
  }
}

.cityListItem {
  line-height: 1em;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 10px;
  background-color: whitesmoke;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.footer {
  background-color: #5c5c5c;
  margin-top: 50px;
  clear: both;
  padding: 50px;
  min-height: 200px;
  text-align: center;
  font-size: 1.1em;
  border-top: 10px solid #136BA1;
}

.footer p {
  color: #e6f0f0;
}

.footer a {
  color: #abcfcf;
}